<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  
  <br>
  <%= link_to '<button type="button" class="btn btn-danger">Home Page</button>'.html_safe, root_path %>
  <%= link_to '<button type="button" class="btn btn-primary">Add New Post</button>'.html_safe, new_post_path %>
  <br><br>

    <%= yield %>
  </div>
  </body>
</html>
